* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: #f1eeef;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
 #bg-video {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      max-height: 100%;
      object-fit: cover;
      z-index: -1;
    }


.login-container {
  background: #f2b3d5;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
}

.password-wrapper {
  position: relative;
}

#togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.extra-text {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.extra-text a {
  color: #007bff;
  text-decoration: none;
}
